body {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
}
body #header {
  width: 100%;
  height: 50px;
  background-color: #ff841d;
}
body #header .mm_logo {
  height: 25px;
  width: 186px;
  float: left;
  margin-left: 16px;
  margin-top: 12px;
}
body #header .mm_logo img {
  width: 100%;
  height: 100%;
}
body #header .mm_download {
  height: 48px;
  width: 48px;
  float: right;
  text-align: center;
}
body #header .mm_download img {
  margin-top: 10px;
  width: 34px;
  height: 34px;
  text-align: center;
}
body #search {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
}
body #search form {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  position: relative;
  padding-left: 16px;
  font-size: 18px;
}
body #search form .txt {
  width: 90%;
  height: 30px;
  border-radius: 15px;
  padding-left: 5%;
  outline: none;
  border: 0;
  background-color: #f1f1f1;
}
body #search form .btn {
  width: 60px;
  height: 30px;
  line-height: 15px;
  border-radius: 15px;
  background-color: #ff841d;
  position: absolute;
  top: 0;
  right: 10px;
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
}
body #container {
  width: 100%;
  background-color: #f2f2f2;
}
body #container > .top {
  width: 100%;
  height: 40px;
  background-color: #f6f5f5;
}
body #container > .top > ul {
  list-style: none;
  float: left;
  height: 100%;
  margin: 0;
  padding-left: 10px;
}
body #container > .top > ul > li {
  float: left;
  height: 40px;
}
body #container > .top > ul > li > a {
  height: 40px;
  display: block;
  line-height: 40px;
}
body #container > .top > ul > li:nth-of-type(3) > a {
  color: black;
}
body #container > .center {
  width: 100%;
}
body #container > .center > .top {
  width: 100%;
  height: 40px;
  background-color: #f6f5f5;
  font-size: 16px;
  padding-left: 10px;
  line-height: 40px;
  color: #874604;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
body #container > .center > ul {
  padding: 8px 6px;
  width: 100%;
}
body #container > .center > ul > li {
  width: 100%;
  height: 50px;
}
body #container > .center > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font: 400 16px/30px "΢���ź�";
  border-bottom: 1px solid #cccccc;
  color: #000000;
  position: relative;
}
body #container > .center > ul > li > a > .num {
  width: 30px;
  height: 30px;
  background-color: #c9c9c9;
  float: left;
  margin-right: 8px;
  text-align: center;
  line-height: 30px;
}
body #container > .center > ul > li > a > p {
  padding-left: 38px;
  font-size: 12px;
  line-height: 16px;
  color: #adadad;
}
body #container > .center > ul > li > a > span {
  position: absolute;
  top: 1px;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
  text-align: center;
  line-height: 40px;
}
body #container > .center > .middle {
  width: 100%;
  height: 40px;
  background-color: #f6f5f5;
  font-size: 16px;
  padding-left: 10px;
  line-height: 40px;
  color: #874604;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
body #container > .center > .product {
  width: 100%;
}
body #container > .center > .product > ul {
  width: 100%;
  background-color: #f2f2f2;
}
body #container > .center > .product > ul > li {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
}
body #container > .center > .product > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
}
body #container > .center > .product > ul > li > a > .pic {
  float: left;
  width: 100px;
  height: 100px;
}
body #container > .center > .product > ul > li > a > .pic > img {
  width: 100px;
  height: 100px;
}
body #container > .center > .product > ul > li > a > .right {
  float: left;
  flex: 1;
  margin-left: 10px;
}
body #container > .center > .product > ul > li > a > .right > .title {
  font-size: 14px ;
  min-height: 44px;
  line-height: 22px;
}
body #container > .center > .product > ul > li > a > .right > .price {
  margin-top: 5px;
  height: 20px;
  line-height: 20px;
  color: #ff0000;
  overflow: hidden;
}
body #container > .center > .product > ul > li > a > .right > .price > span {
  float: right;
  margin-right: 10px;
  color: orange;
}
body #container > .center > .product > ul > li > a > .right > .other {
  margin-top: 5px;
}
body #container > .center > .product > ul > li > a > .right > .other > span {
  font-size: 14px ;
  color: #9b9b9b;
  margin-right: 10px;
}
body #container > .center > .bottom {
  width: 100%;
  height: 40px;
  background-color: #f6f5f5;
  font-size: 16px;
  padding-left: 10px;
  line-height: 40px;
  color: #874604;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
body #container > .center > .talk {
  width: 100%;
}
body #container > .center > .talk > ul {
  width: 100%;
  padding: 10px;
}
body #container > .center > .talk > ul > li {
  width: 100%;
}
body #container > .center > .talk > ul > li > .top {
  width: 100%;
  position: relative;
  height: 80px;
}
body #container > .center > .talk > ul > li > .top > .pic {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
}
body #container > .center > .talk > ul > li > .top > .pic > img {
  width: 80px;
  height: 80px;
}
body #container > .center > .talk > ul > li > .top > .title {
  width: 100%;
  font-size: 14px ;
  min-height: 44px;
  line-height: 22px;
  padding-left: 90px;
}
body #container > .center > .talk > ul > li > .bottom {
  width: 100%;
  padding: 5px;
  background-color: #fafafa;
}
body #container > .center > .talk > ul > li > .bottom > .name > span:first-of-type {
  color: #4f6900;
  margin-right: 5px;
}
body #container > .center > .talk > ul > li > .bottom > .name > span:nth-of-type(2) {
  color: orange;
  margin-left: 5px;
  font-size: 18px;
  font-family: simsun;
}
body #container > .center > .talk > ul > li > .bottom > .name > span:nth-of-type(3) {
  float: right;
  color: #cccccc;
}
body #container > .center > .talk > ul > li > .bottom > .info {
  margin-top: 5px;
}
body #footer > .top {
  width: 100%;
  height: 34px;
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  margin: 0;
  justify-content: space-around;
}
body #footer > .top > li {
  height: 100%;
  border-right: 1px solid #ccc;
  text-align: center;
  line-height: 34px;
  background-color: #e4e3e3;
}
body #footer > .top > li > a {
  display: block;
  width: 100%;
  height: 100%;
}
body #footer > .top > li > a > img {
  width: 15px;
  height: 15px;
  margin-top: -4px;
}
body #footer > .top > li:last-of-type {
  border-right: 0;
}
body #footer > .bottom {
  text-align: center;
  background-color: #e4e3e3;
  padding-top: 10px;
  font-size: 12px;
}
body #footer > .bottom p:first-of-type {
  margin-bottom: 0;
}
body #footer > .bottom p:first-of-type > a:first-of-type {
  color: red;
}
body #footer > .bottom p:last-of-type {
  padding-bottom: 10px;
}
